.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
**/node_modules/
**/yarn-error.log
**/bower_components/**/*.md
**/bower_components/**/index.js
**/bower_components/**/package.json
**/bower_components/**/.bower.json
**/bower_components/**/*.min.*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/