/**/.gradle/
/**/build/
/**/target/
/**/out/
!gradle/wrapper/gradle-wrapper.jar
/**/node_modules/
/**/dist/
/**/bin/

### IntelliJ IDEA ###
/**/.idea/
*.iws
*.iml
*.ipr
**/.project
**/.settings/
**/.vscode/
