.login-card {
  width: 60%;
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
  text-align: center;
}

.login-form {
  width: 80%;
  position: relative;
  padding: 2em;
  margin: auto;
}