
.footer-img {
  width: 20px;
}

.mddv-footer {
  position: relative;
  width: 100%;
  bottom: 0px;
  padding: 1em 0em;
}

.main-area {
  overflow: scroll;
  min-height: 600px;
  margin-left: 50px;
}